/target
*/target
/test-output
/.settings
*/.settings
/.classpath
*/.classpath
/.project
*/.project
.DS_Store
*.versionsBackup
*/*.versionsBackup
*/test-output/
*/bin/
*.iml
.idea/
*/META-INF
.sts4-cache
*/.sts4-cache
.attach_pid*
*/.attach_pid*

